html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Georgia", serif;
  text-align: center;
  color: darkcyan;
}

header {
  background-color: white;
  padding: 10px 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 60px;
  border-radius: 50%;
}

nav {
  flex-grow: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  flex-grow: 1;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px;
  display: block;
}

nav ul li a:hover {
  background: gainsboro;
  border-radius: 10px;
}

main {
  margin: -40px 10px;
  padding: 16px;
  text-align: center;
}

.about {
  padding: 0 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.about-text {
    margin-top: -30px;
  flex: 1;
  text-align: left;
}

.about-image {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}
.about-image img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.our-services {
    padding:  0 16px;
}

.cards {
  display: flex;
  gap: 70px;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  border-radius: 10px;
  padding: 16px;
  width: 400px;
  background-color: darkcyan;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.card .container {
  padding: 2px 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
}

footer {
  background-color: black;
  color: #f4f4f4;
  display: flex;
  padding: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  h2 {
    text-align: start;
  }
  .about {
    flex-direction: column;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .card {
    width: 90%;
  }
}
